/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: var(--font-poppins);
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
  }
  
  .modal__container {
    background-color: #F9FFFE;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    display:inline-flex;
  }

  .modal_container_left img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .modal_container_right{
    padding-left: 50px;
    padding-right: 35px;
  }

  #modal-1-content {
    height:100%;
  }
  
  .modal__header {
    justify-content: space-between;
    align-items: center;
  }
  
  .modal h2{
    margin-top:150px;
    font-size: 36px;
    text-align:center;
    color: #34857D;
    box-sizing: border-box;
  }

  .modal p{
    text-align:center;
    font-size: 18px;
    color: #34857D;
    box-sizing: border-box;
  }
  
  .modal__close {
    margin-top:15px;
    margin-right:15px;
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  

  
  .modal__btn {
    border-radius: 20px;
    background-color: var(--color-orange);
    width: 204px;
    height: 60px;
    font-size: 20px;
    font-family: var(--font-poppins);
    border-style: none;
    border-width: 0;
    outline:none;
  }
  
  .modal__btn-primary {
    background-color: var(--color-orange);
    color: #fff;
    margin-left:46px;
    margin-top: 12%;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }